pipeline/WBYC_COMPASS_DATA_EXTRACT.json
{
	"name": "WBYC_COMPASS_DATA_EXTRACT",
	"properties": {
		"activities": [
			{
				"name": "dfxml",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "CopyLeadAppraisal",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "dfxml",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "CopyLeadAppraisal",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LKP_Old_incremental",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LKP_New_incremental",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from [dbo].[temp_lead_appraisal] where creation_dt >'@{activity('LKP_Old_incremental').output.firstRow.processtime}'\nAND creation_dt<='@{activity('LKP_New_incremental').output.firstRow.NewValue}'\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TradeInVehicleDetails",
						"writeBehavior": "insert",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "lead_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "lead_id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "event_id",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "event_id",
									"type": "Int64",
									"physicalType": "bigint"
								}
							},
							{
								"source": {
									"name": "vehicle_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "vehicle_id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "VIN",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "VIN",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "condition_report_xml",
									"type": "String",
									"physicalType": "text"
								},
								"sink": {
									"name": "condition_report_xml",
									"type": "String",
									"physicalType": "text"
								}
							},
							{
								"source": {
									"name": "appraisal_amount",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "appraisal_amount",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "creation_dt",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "creation_dt",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "dsSrcLeadAppraisal",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "dsDestinationLeadAppraisalStaging",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "LKP_Old_incremental",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select * from incrementalprocess where tablename='temp_lead_appraisal'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsIncrementalProcess",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LKP_New_incremental",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select MAX(creation_dt) As NewValue from [dbo].[temp_lead_appraisal]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsDestinationLeadAppraisalStaging",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SetIncrementalprocess",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "dfxml",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spSetincremental]",
					"storedProcedureParameters": {
						"processtime": {
							"value": {
								"value": "@activity('LKP_New_incremental').output.firstRow.NewValue",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"tablename": {
							"value": {
								"value": "@activity('LKP_Old_incremental').output.firstRow.tablename",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "WBYCDataExtractDB",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-06-10T20:20:57Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}